


<a routerLink ="/first">First Component
</a><br>
<a routerLink ="/second">Second Component
</a><br>
<a routerLink ="/third">Third Component
</a>

<div class="container-fluid">
    
    <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    </div>
    <div>
        <button type="button" class="btn" (click)="onClickBtn()">Onclick</button>
  
    </div>
   
  </div>
   <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>HOME</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        </div>

  
<router-outlet></router-outlet>